*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,#FF9AD8, #FFE88A);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
}
#nome{
    color: black;
}
#titulo{
    color: #000000;
}

.calculadora{
    position: absolute;
    background-color:#D9D9D9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #ffffff;
    border: none;
    color: #000000;
}
.botao:hover{
    background-color: rgb(175, 175, 175);
}
#calcular{
    height: 106px;
}
#zero{
    width: 106px;
}

#result{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
}


.container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) ;
}

  
img{
    width: 65%;
}
#delete{
    display: flex;
    align-items: center;
    justify-content: center;
}